body {
  margin: 0;
  padding: 0;
  background: #555;
  font-family: "Raleway", sans-serif;
}

.box {
  background: rgb(245, 230, 218);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
}

.logo {
  padding: 123px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
h5{
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
}

.figure {
  width: 100%;
  height: 100%;
}

.figure:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url("../img/homepage.png");
  background-size: cover;
  transform-origin: bottom;
  transition: 0.5s;
}

.box:hover .figure:before {
  transform: rotateX(90deg) translateY(50%);
}

.figure:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url("../img/homepage.png");
  background-size: cover;
  transform-origin: top;
  transition: 0.5s;
  background-position: 300px;
}

.box:hover .figure:after {
  transform: rotateX(90deg) translateY(-50%);
}
.input,
.submit {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
}

.input {
    border: 1px solid lightgray;
}

.submit {
    background-color: #dee4de;
    border: 1px solid transparent;
}
.submit::-moz-focus-inner { 
    border: 0;
}




/* html,
body {
  background-color: rgb(245, 230, 218);
} */
section {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-screen {
  height: 100%;
}
.wheel-svg {
  margin-left: 10px;
  border: 2px dashed;
  perspective: 300px;
}
.wheel-svg .term {
  font-family: GothamLight, sans-serif;
  font-size: 100px;
  letter-spacing: -1px;
  fill: white;
  opacity: 0;
}
.wheel-svg .term.term03 {
  opacity: 1;
}
.wheel-svg .term.term02,
.wheel-svg .term.term04 {
  opacity: 0.5;
}
.wheel-svg .term.term01,
.wheel-svg .term.term05 {
  opacity: 0.2;
}